@page
@using _0_Framework.Application
@using System.Globalization
@model ServiceHost.Pages.CartModel
@{
    ViewData["Title"] = "سبد خرید";
}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a asp-page="/index" rel="nofollow">صفحه اصلی<i class="fi-rs-home mr-5"></i></a>
                <span></span> سبد خرید
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-50">
       
            @foreach (var item in Model.CartItems.Where(x => !x.IsInStock))
            {
                <div class="alert alert-warning"><i class=" "></i>محصول <strong>@item.Name </strong>در انبار کمتر از متراژ درخواستی می باشد </div>
            }
        
        <div class="row">
            <div class="col-lg-12 mb-40">
                <h1 class="heading-2 mb-10">سبد خرید</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">در سبد خرید شما <span class="text-brand">@Model.CartItems.Count</span> محصول وجود دارد</h6>
                    <h6 class="text-body"><a href="#" class="text-muted"><i class="fi-rs-trash mr-5"></i>حذف سبد خرید</a></h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive shopping-summery">
                    <table class="table table-wishlist">
                        <thead>
                            <tr class="main-heading">
                                <th class="custome-checkbox start pl-30">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                                    <label class="form-check-label" for="exampleCheckbox11"></label>
                                </th>
                                <th scope="col" colspan="2">محصولات</th>
                                <th scope="col">قیمت</th>
                                <th scope="col">متراژ</th>
                                <th scope="col">توضیحات</th>
                                <th scope="col">مجموع</th>
                                <th scope="col" class="end">حذف</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartItems)
                            {
                                <tr class="pt-30">
                                    <td class="custome-checkbox pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        <label class="form-check-label" for="exampleCheckbox1"></label>
                                    </td>
                                    <td class="image product-thumbnail pt-40"><img src="~/ProductPictures/@item.Picture"></td>
                                    <td class="product-des product-name">
                                        <h6 class="mb-5"><a class="product-name mb-10 text-heading" href="shop-product-right.html">@item.Name</a></h6>

                                    </td>
                                    <td class="price" data-title="Price">
                                        <h4 class="text-body">@item.UnitPrice.ToMoney()</h4>
                                    </td>
                                    <td data-title="Stock">
                                        <div class="d-inline-flex align-items-center justify-content-center">
                                            <input type="number"
                                                   name="count-@item.Id"
                                                   style="width: 180px;"
                                                   min="0.5" step="0.1" max="100"
                                                   value="@item.Count.ToString(CultureInfo.InvariantCulture)"
                                                   onchange="changeCartItemCount('@item.Id','totalItemPrice-@item.Id',this.value)">
                                            <span class="mr-2">متر مربع</span>

                                        </div>
                                    </td>

                                    <td class="text-center detail-info" data-title="Description">
                                        <div>
                                            <input type="text" 
                                                   class="form-control"
                                                   placeholder="توضیحات مورد نیاز را وارد کنید" 
                                                   value="@item.Description"
                                                   data-id="@item.Id"
                                                   data-count="@item.Count.ToString(CultureInfo.InvariantCulture)"
                                                   onchange="updateCartDescription(this)">
                                        </div>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <h4 class="text-brand" id="totalItemPrice-@item.Id">@item.TotalItemPrice.ToMoney()</h4>
                                    </td>
                                    <td class="action text-center" data-title="Remove">
                                        <a href="javascript:void(0)" 
                                           onclick="removeFromCart('@item.Id', '@item.Count.ToString(CultureInfo.InvariantCulture)')" 
                                           class="text-body">
                                            <i class="fi-rs-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="divider-2 mb-30"></div>
                <div class="cart-action d-flex justify-content-between">
                    <a class="btn " asp-page="/Checkout"><i class="fi-rs-arrow-left mr-10"></i>ادامه خرید</a>
                    <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-refresh mr-10"></i>بروزرسانی سبد خرید</a>
                </div>

            </div>
            
        </div>
    </div>
</main>